body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.blue-background {
    background-color: #1f2937;
}

.white-text {
    color: #f9faf8;
}

.header {
    display: flex;
    /* color: #f9faf8; */
    justify-content: space-between;
    padding: 16px 64px;
    font-size: 24px;
}

.header ul {
    align-items: center;
    color: #818181;
    list-style-type: none;
    display: flex;
    font-size: 16px;
    padding: 0;
    margin: 0;
    gap: 16px;
}

.hero {
    padding: 64px;
    display: flex;
    color: #f9faf8;
    justify-content: space-between;
}

.left-hero-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    margin-right: 32px;
    gap: 8px;
}

.left-hero-content button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    border-style: solid;
    border-color: #3882f6;
    width: 100px;
    padding: 2px 0px;
}

.hero-primary-text {
    font-size: 48px;
    font-weight: 800;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.right-hero-content {
    flex: 1 1 0;
    background-color: #818181;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
}

.information span  {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin: 32px 0px;
}

.information .sections {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.information-image {
    width: 120px;
    height: 120px;
    border-color: #3882f6;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
}

.information .sections .information-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    gap: 8px;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 300;
    padding: 64px;
    color: #1f2937;
}

.quote span {
    width: 700px;
    text-align: justify;
}

.quote .author {
    font-size: 24px;
    font-weight: 600;
    text-align: end;
}

.call {
    padding: 64px;
    display: flex;
    justify-content: center;
}

.to-action {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 32px 64px;
    border-radius: 8px;
    width: 850px;
}

.to-action strong {
    display: block;
    font-weight: 600;
}

.to-action button {
    background-color: #3882f6;
    border: 2px solid #f9faf8 ;
    color: #f9faf8;
    width: 100px;
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0px;
}
